
    
    <div class="container">
        <div class="offset-2 col-10 py-sm-4 px-sm-4">
      <h5>本当に退会しますか？</h5>
        </div>
    
    
       <div class="row">
        <div class="mx-auto">
          <p>
            退会すると、会員登録情報や
            <br>これまでの購入履歴が閲覧できなくなります。
            <br>退会する場合は、「退会する」をクリックしてください。</br>
          </p>
      
     
        <div class="btn btn-sm btn-danger">
        <%=link_to '退会しない', customer_session_path %>
        </div>
        <div class="btn btn-sm btn-danger">
        <% if current_customer %>
        <%=link_to withdrawal_path, method: :patch, "data-confirm" => "本当に退会しますか？" do %>
         退会する
        <% end %>
        <% end %>
        </div>
        
        
      </div>
      </div>
    </div>
