<main>
    <div class="container">
      <p class="text-center">
        <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <div>
          <p>
            ようこそ、ながのCAKEへ！
            <br>このサイトは、ケーキ販売のECサイトになります。
            <br>会員でない方も商品の閲覧はできますが、
            <br>購入には会員登録が必要になります。</br>
          </p>
        </div>
        <div>
            <h5><strong>新着商品</strong></h5>
            <% @items.each do |item| %>
              <p><strong><%= item.name %></strong></p>
              <p><strong>¥<%= item.price %></strong></p>
            <% end %>
        </div> 
        </div>
        </div>
      </p>
    </div>
    <%= link_to 'すべての商品を見る>', items_path %>
</main>