<main>
  <div class="container">
    <div class="row">
      <div class="offset-2 col-10 py-sm-4 px-sm-4">
        <h5>注文履歴一覧</h5>
      </div>
    </div>
  </div>
  
    
      <div class="low">
          <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
            <table class="table table-hover table-inverse">
              <thead>
                <tr>
                  <th>購入日時</th>
                  <th>購入者</th>
                  <th>注文個数</th>
                  <th>注文ステータス</th>
                  <th colspan="4"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <% @orders.each do |order| %>
                  <td><%=link_to order.created_at, admin_status_path(order.id) %></td>
                  <td><%= order.name %></td>
                  <% sum = 0 %>
                  <% order.order_details.each do |order_detail| %>
                  <% sum += order_detail.amount %>
                  <% end %>
                  <td><%= sum %></td>
                  <td></td>
                  <td colspan="4"></td>
                </tr>
              </tbody>
                  <% end %>
                <div class="row">
                  <div class=" mx-auto">
                  <%= paginate @order_history %>
                  </div>
                </div>
            </table>
          </div>
      </div>
    
</main>