<main>
    <div class="container">
      <p class="text-center">
        <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <div>
          <h5><strong>商品一覧</strong></h5><p>全<>件</p>
            <% @items.each do |item| %>
            <p><%= image_tag item.get_image, size:'200x150' %></p>
            <p><%=link_to item.name, item_path(item.id)%></p>
            <p>¥<%= item.price %></p>
            <% end %>
        </div>
        </div>
        </div>
      </p>
      
    </div>
    <%= paginate @item %>
</main>