<main>
    <div class="container">
      <p class="text-center">
        <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <div>
          <h5><strong>商品一覧</strong>(全〇件)</h5>
        </div>
        <div>
            
        </div> 
        </div>
        </div>
      </p>
      <%= paginate @item %>
    </div>
</main>